@page
@model ML.Xncf.Docs.Areas.Admin.Pages.Document.EditModel
@{
    ViewData["Title"] = $"{(!string.IsNullOrEmpty(Model.Id) ? "编辑" : "新增")}目录";
}

@section breadcrumbs{
    <li>开发者文档</li>
    <li>
        目录管理
    </li>
}
@section Style{
    <link href="~/node_modules/@@ztree/ztree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/css/Admin/catalogEdit.css" rel="stylesheet" />
}
<!-- START row-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a id="addTopMenu" data-flag="0" class="btn btn-success addTopMenu">
            <em class="fa fa-plus">
                新增一级目录
            </em>
        </a>

        <a id="addChildMenu" data-flag="1" class="btn btn-success addTopMenu">
            <em class="fa fa-plus">
                添加子目录
            </em>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="treeContainer">
                    <ul id="tree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/node_modules/@@ztree/ztree_v3/js/jquery.ztree.core.min.js"></script>
    <script src="~/node_modules/@@ztree/ztree_v3/js/jquery.ztree.excheck.min.js"></script>
    <script src="~/node_modules/@@ztree/ztree_v3/js/jquery.ztree.exedit.min.js"></script>
    <script src="~/js/Admin/Pages/Catalog/Edit.js">

    </script>
}