@page
@model ML.Xncf.Docs.Areas.Admin.Pages.Document.IndexModel
@{
  //UI框架参考：https://element.eleme.cn/#/zh-CN
  ViewData["Title"] = "目录管理";
  Layout = "_Layout_Vue";
}

@section breadcrumbs {
  <el-breadcrumb-item>开发者文档</el-breadcrumb-item>
  <el-breadcrumb-item>目录管理</el-breadcrumb-item>
}

@section HeaderContent{

}

@*<h1>装修升级中,敬请期待....</h1>*@

<el-button @@click="visible = true">Button</el-button>
<el-dialog :visible.sync="visible" title="Hello world">
  <p>Try Element</p>
</el-dialog>

<el-table :data="tableData"
          style="width: 100%;margin-bottom: 20px;"
          row-key="id"
          border
          default-expand-all
          :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
  <el-table-column prop="date"
                   label="日期"
                   sortable
                   width="180">
  </el-table-column>
  <el-table-column prop="name"
                   label="姓名"
                   sortable
                   width="180">
  </el-table-column>
  <el-table-column prop="address"
                   label="地址">
  </el-table-column>
</el-table>

@section scripts{
  <script src="~/js/Admin/Pages/Document/Index.js"></script>
}

