@page
@model ML.Xncf.Docs.Areas.Admin.Pages.Document.IndexModel
@{
  //UI框架参考：https://element.eleme.cn/#/zh-CN
  ViewData["Title"] = "目录管理";
  Layout = "_Layout_Vue";
}

@section breadcrumbs {
  <el-breadcrumb-item>开发者文档</el-breadcrumb-item>
  <el-breadcrumb-item>目录管理</el-breadcrumb-item>
}

@section HeaderContent{

}

<h1>装修升级中,敬请期待....</h1>

<el-button @@click="visible = true">Button</el-button>
<el-dialog :visible.sync="visible" title="Hello world">
  <p>Try Element</p>
</el-dialog>

@section scripts{
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return { visible: false }
      }
    })
  </script>
}

